@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    --background : rgb(248, 248, 248);

}
.background{
    background-color:var(--background) ;
    
}
.header_image{
    background-image:  url("../img/home.svg");
  
    background-color:var(--background) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

  }

  .header_text {
    position: absolute;
    top: 35%;
    left: 25%;
}

.my_nav {
    position: absolute;
    top: 5%;
    left: 25%;
    width: auto;
    height: 48px;
    padding: 0 5px;
}

.my_nav a{
    margin-right: 30px;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

ul{
    margin-left: 25px;
    margin-top: 14px;
}

li{
    margin: 8px 0;
}



/* SkILL SECTION */

.skill_container{
    display: flex;
}

.skill_container_ul{
    width: 50%;
    margin-left: 40px;
}

.skill_container_image{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.skill_container_image img{
    height: 100px;
    width: 100px;

}



/* Table */
table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

table {
    width: 100%;
    margin-top: 20px;
  }


/* PROJECT */
.project_item{
    margin: 30px 0;
}

.project_item p{
    width: 70%;;
}